/*
*Fonts
*/
$overpasslight: 'overpasslight';
$overpasssemibold: 'overpasssemibold';
$ubunturegular: 'ubunturegular';
$ubuntumedium: 'ubuntumedium';
$ubuntubold: 'ubuntubold';

/*
*Colors
*
    **Primary
    */
    $Carnation: #FF525D; /* CTA text */
    $Geraldine: #FF7A85; /* CTA hover background */
    $Cello: #1F3F5B; /* headings */
    /*
    **Neutral
    */
    $White: #FFFFFF; /* text */
    $French-Gray: #C8C8CB; /* footer text */
    $River-Bed: #4B5862; /* body copy */
    $Shark: #25252D; /* footer background */
    /*
    **Gradient
    *
        ***Background gradient - Intro/CTA mobile nav
        */
        $Salmon: #FF8F70;
        $Radical-Red: #FF3D54;
        /*
        ***Background gradient - body
        */
        $Charade: #2C2D3F;
        $Fiord: #3F4164;