.img__sticky {
    margin: 0 auto;

    @media screen and(min-width: 992px) {
        margin: auto 0;
    }
    
    img {
        width: 100%;

        @media screen and(min-width: 992px) {
            width: calc(100% + ((100vw - 200%) / 2));
        }
    }

    &--right {
        margin-top: 6rem;

        img:nth-child(2){
            position: relative;
            right: calc((170% - 100vw) / 2);
        }
    }

    &--left {
        img:nth-child(2) {
            position: relative;
            left: calc((140% - 100vw) / 2);
        }
    }
}